
/*General*/

.my-bg-grey{

    background-color:#2C3E50 ;
}
.my-bg-green{

    background-color: #1ABC9C;
}
/*Header*/



/*Main*/

.my-container.d-flex{

    flex-direction: column;
    align-items: center;
}
.my-img-avatar{

    width: 200px;
    
}

.my-line-star{

    width: 100px;
    height: 3px;
    
}

.img-b-radius{

    border-radius: 10px;
}

.my-container-small{

    width: 70%;
    margin: 0 auto;
}
/*Debug*/





