
/*General*/

.my-bg-grey{

    background-color:#2C3E50 ;
}

.my-bg-light-grey{

    background-color:#3A546D ;
}
.my-bg-green{

    background-color: #1ABC9C;
}

.my-text-green{

    color: #1ABC9C;
}


/*Main*/

.my-container.d-flex{

    flex-direction: column;
    align-items: center;
}
.my-img-avatar{

    width: 200px;
    
}

.my-line-star{

    width: 100px;
    height: 3px;
    
}

.img-b-radius{

    border-radius: 10px;
}

.my-container-small{

    width: 70%;
    margin: 0 auto;
}






